package component

import "strconv"
import "math"

templ Captcha(icons []string, target, secret string) {
	@CaptchaCSS()
	<div
		id="captcha"
		data-init="$selections = []"
	>
		<span id="captcha-prompt">Select all: { target }</span>
		{{ c := int(math.Sqrt(float64(len(icons)))) }}
		<div id="captcha-box" style={ "--captcha-columns: " + strconv.Itoa(c) }>
			for i := range(len(icons)) {
				<button
					class="blue"
					data-attr:disabled={ "$selections.includes(" + strconv.Itoa(i) + ")" }
					data-on:click={ "$selections.push(" + strconv.Itoa(i) + ")" }
				>{ icons[i] }</button>
			}
		</div>
		<div id="captcha-buttons">
			<button id="captcha-submit" type="button" class="green" data-on:click="@post('/captcha')">Submit</button>
			<button
				id="captcha-reset"
				type="button"
				class="red"
				data-on:click="$selections.length=0"
				data-show="$selections.length!==0"
			>⟲</button>
		</div>
	</div>
}

templ CaptchaCSS() {
	<style>
		#captcha {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			border: 0.2rem solid var(--border);
			background-color: var(--beige);
			padding-bottom: 1rem;
			padding-top: 1rem;
		}
		#captcha-buttons {
			position: absolute;
			bottom: -1.8rem;
			width: 100%;
			display: flex;
			flex-direction: row;
			alight-items: center;
			justify-content: center;
			gap: 0.8rem;
		}
		#captcha-prompt {
			position: absolute;
			top: -1.8rem;
			left: -3rem;
			transform: rotate(-5deg);
			border: 0.22rem solid black;
			border-radius: 5px;
			/*box-shadow: 0.1rem 0.1rem var(--border);*/
			padding: 0 0.5rem 0 0.5rem;
			width: fit-content;
			background-color: var(--beige);
			color: var(--red-3);
			font-size: 2rem;
			font-weight: bold;
			text-align: center;
		}
		#captcha-box {
			padding: 1rem;
			display: grid;
			grid-template-columns: repeat(var(--captcha-columns), 1fr);
			gap: 0.8rem;
		}

		#captcha-box button {
			font-size: 2rem;
			padding: 0 1rem 0 1rem;
		}
	</style>
}
