package component

templ LoginForm() {
	@LoginFormCSS()
	<form id="login-form">
		<span id="login-form-title">Login</span>
		<label for="form-username">Username</label>
		<input id="form-username" type="text"/>
		<label for="form-password">Password</label>
		<input id="form-password" type="password"/>
		<button
			type="button"
			class="green"
			id="login-form-submit"
			data-on:click="@post('captcha')"
		>Login</button>
	</form>
}

templ LoginFormCSS() {
	<style>
		#login-form {
			position: relative;
			width: fit-content;
			padding: 1rem;
			padding-bottom: 2rem;
			border: 0.2rem solid var(--border);
			background-color: var(--beige);
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			/*gap: 1rem;*/
			margin: 1.5rem;
		}
		#login-form label {
			font-size: 1.2rem;
			font-weight: bold;
			color: var(--red-3)
		}
		#login-form-title {
			position: absolute;
			bottom: calc(100% - 0.5rem);
			left: -1.5rem;
			rotate: -5deg;
			padding: 0 0.5rem 0 0.5rem;
			background-color: var(--beige);
			border: 0.2rem solid var(--border);
			/*border-radius: 5px;*/
			font-weight: bold;
			font-size: 1.5rem;
		}
		#login-form-submit {
			position: absolute;
			top: calc(100% - 1.5rem);
			padding-right: 1rem;
			padding-left: 1rem;
		}
	</style>
}
