package component

templ LoginForm() {
	@LoginFormCSS()
	<form
		id="login-form"
	>
		<span data-init="$test='hehe'" id="login-form-title">Login</span>
		<label for="form-username">Username</label>
		<input id="form-username" data-bind="username" type="text"/>
		<label for="form-password">Password</label>
		<input
			id="form-password"
			data-bind="password"
			type="password"
		/>
		<button
			type="button"
			class="green"
			id="login-form-submit"
			data-attr:disabled="$username === '' || $password === '' || $requesting"
			data-on:click="@post('/login')"
			data-indicator="requesting"
		>Login</button>
	</form>
}

templ LoginFormCSS() {
	<style>
		#login-form {
			position: relative;
			width: fit-content;
			padding: 1rem;
			padding-bottom: 2rem;
			border: 0.2rem solid var(--border);
			background-color: var(--beige);
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			/*gap: 1rem;*/
			margin: 1.5rem;
		}
		#login-form label {
			font-size: 1.4rem;
			font-weight: bold;
			color: var(--red-3);
		}
		#login-form-title {
			position: absolute;
			bottom: calc(100% - 1rem);
			left: -1.5rem;
			rotate: -10deg;
			padding: 0 1rem 0 1rem;
			background-color: var(--beige);
			border: 0.2rem solid var(--border);
			font-weight: bold;
			font-size: 1.5rem;
		}
		#login-form-submit {
			position: absolute;
			top: calc(100% - 1.5rem);
			padding-right: 1rem;
			padding-left: 1rem;
		}
	</style>
}
