package component

import "strconv"

templ LoginPage(register bool) {
	@LoginPageCSS()
	<p data-init={ "$register = " + strconv.FormatBool(register) }></p>
	<div
		data-show="!$register"
		style="position: relative;"
	>
		@LoginForm()
		<button id="toggle-register" class="blue" type="button" data-on:click="$register = true; history.replaceState(null, '', '/register')">New Account</button>
	</div>
	<div
		data-show="$register"
		style="position: relative;"
	>
		@RegisterForm()
		<button id="toggle-register" class="blue" type="button" data-on:click="$register = false; history.replaceState(null, '', '/login')">Use Existing</button>
	</div>
}

templ LoginPageCSS() {
	<style>
		#toggle-register {
			position: absolute;
			font-size: 1.2rem;
			bottom: calc(100% - 2rem);
			right: -0.5rem;
			rotate: 5deg;
		}
	</style>
}
